body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:linear-gradient(140deg, rgb(15, 48, 15),#4a7848) ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.quiz{
    background:#44524067;
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    width: 420px;
    text-align: center;
}

h1{
    margin-bottom: 10px;
}

.question{
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.options input{
display: none;
}

.options label{
display: block;
padding: 21px;
margin: 10px 0;
border-radius: 10px;
color: black;
cursor: pointer;
font-weight: bold;
transition: .2s ;
background-color: azure;
}

.options label:hover{
    color: #3e843c;
    background-color: #333d31;
    transform: scale(1.03);
}

.result{
    margin-top: 20px;
    font-size: 22px;
    min-height: 30px;
    font-weight: bold;
}

.result::after{
content:"CHOOSE AN ANSWER ";
}

#optionA:checked ~ .result::after{
color: #37ff00;
content: "Correct Answer!";
}

#optionB:checked ~ .result::after{
color: #ff0000;
content:"WRONG ANSWER" ;
}

#optionC:checked ~ .result::after{
color: #ff0000;
content:"WRONG ANSWER" ;
}

#optionD:checked ~ .result::after{
color: #ff0000;
content:"WRONG ANSWER" ;
}